<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>
      <%= t('.confirmed', date: @date) %>
        <ul>
              <% @reminder.users.each do |recipient| %>
                  <li><%= recipient.email %></li>
              <% end %>
          </ul>
      </p>
      <p> <%= t('.disagree') %>
          <a href="<%= @passwordless_link %>"> <%= t('.website') %></a>.
      </p>
  </body>
</html>
