<%= form_with model: reminder, id: 'reminder_form' do |r_form| %>
  <h3>Date</h3>
  <div>
    <%= r_form.date_field :date %>
    <% reminder.errors.full_messages_for(:date).each do |message| %>
        <div><mark><%= message %></mark></div>
    <% end %><!-- end errors -->
  </div>

  <h3><%= t :Recipients %></h3>

  <%= turbo_frame_tag 'recipient_errors' do %>
    <% reminder.errors.full_messages_for(:users).each do |message| %>
        <div><mark><%= message %></mark></div>
    <% end %><!-- end errors -->
  <% end %><!-- end turbo_frame -->
  <%= turbo_frame_tag 'recipients' %>
  <% @reminder.users.each do |user| %>
    <%= render 'users/user_hidden_inputs', user: user %>
  <% end %><!-- end form -->
<% end %><!-- end form -->

<%= turbo_frame_tag 'new_recipient' do %>
  <%= render 'users/user_inputs', user: User.new %>
<% end %>
