<h1>New Reminder</h1>

<%= render "form", reminder:  @reminder %>
<p>
  <%= submit_tag "Create reminder", form: 'reminder_form' %>
</p>

<p>
  <% if @current_user %>
    <%= link_to "Reminders", reminders_path %>
    <%= link_to "Sign out", users_sign_out_path, {locale: locale} %>
  <% else %>
    <%= link_to "Sign in", users_sign_in_path %>
  <% end %>
</p>
