<h1 class="page_title"><%= t '.title' %></h1>
<p>
  <%= t '.announce_email' %>
</p>
<p>
  <%= t '.confirm' %>
</p>
<p>
    <%= link_to t('New_reminder'), new_reminder_path %>
    <%= link_to t('sign_in'), users_sign_in_path %>
</p>
