<h1>Reminder <%= @reminder.id %></h1>
<h3>Date</h3>
<div><%= @reminder.date.strftime("%d-%m-%Y") %></div>

<h3>Recipients
  <%= turbo_frame_tag "add_user_turbo_frame" do %>
    <%= link_to "[+]", new_reminder_user_path(@reminder),
     data: {turbo_frame: 'new_user'}%>
  <% end %>
</h3>

<%= turbo_frame_tag 'new_user' %><%# same as User.new %>
<%= turbo_frame_tag "users" do %>
  <% @reminder.users.each do |user| %>
    <%= render 'users/user', reminder: @reminder, user: user %>
  <% end %>
<% end %>

<p>
  <%= button_to "Edit", edit_reminder_path(@reminder),
   :method => "get" %>
  <%= button_to "Destroy", reminder_path(@reminder),
   method: :delete,
   data: {turbo_method: :delete,
          turbo_confirm: "Are you sure?"} %>
</p>

<p>
  <%= link_to "All reminders", reminders_path %>
</p>
