<h1>Reminder <%= @reminder.id %></h1>
<h3>Date</h3>
<div><%= @reminder.date.strftime("%d-%m-%Y") %></div>

<h3>Recipients
  <%= link_to "[+]", new_reminder_user_path(@reminder) %>
</h3>
<% @reminder.users.each do |user| %>
  <div>
    <strong>Email</strong>
    <span><%= user.email %></span>
    <%= link_to '[-]', remove_reminder_user_path(@reminder, user),
     method: :delete,
     data: {
       turbo_method: :delete,
       turbo_confirm: "Are you sure?"
     } %>  </div>
<% end %>

<p>
  <%= button_to "Edit", edit_reminder_path(@reminder),
      :method => "get" %>
  <%= button_to "Destroy", reminder_path(@reminder),
   method: :delete,
   data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
          } %>
</p>

<p>
  <%= link_to "All reminders", reminders_path %>
</p>
