<%= form_tag new_user_inputs_path do %>
    <% user.errors.full_messages_for(:email).each do |message| %>
        <div><mark><%= message %></mark></div>
    <% end %>
    <div>
      <%= label_tag 'user[email]',  t(:new_recipient) %>
      <%= text_field_tag 'user[email]', ''  %>
      <%= button_tag do %>
        <%= content_tag :i, nil, class: ['fa-solid', 'fa-circle-plus']  %>
      <% end %>
    </div>
<% end %>
