<%= turbo_frame_tag "new_user" do %>
    <%= form_with model: [@reminder,
                          @reminder.users.build] do |form| %>
        <div>
            <%= form.label :email %>
            <%= form.text_field :email %>
        </div>
        <% @reminder.errors.full_messages_for(:users).each do |message| %>
            <div><%= message %></div>
        <% end %>
        <div>
            <%= form.submit %>
        </div>
    <% end %>
<% end %>
